html {
  background-image: linear-gradient(#609, black);
  height: max-content;
  min-height: 100vh;
  padding: 30px;
  color: darkslategrey;
  font: 400 14px "Open Sans", Arial, sans-serif;
}

h1 {
  margin: 0;
  padding-top: 10px;
  color: #609;
  font-weight: 400;
  font-style: italic;
  letter-spacing: -0.5px;
}
h2 {
  color: darkgrey;
  border-bottom: solid 1px black;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 200;
}
h3 {
  color: black;
  padding-bottom: 3px;
  font-size: 15px;
  font-weight: 600;
}
h5 { margin-bottom: 0; }

p.mail {
  margin-top: -12px;
  font-size: 12px;
}

a { text-decoration: none; }
a:visited { color: #1756a9; }
a:hover {
  color: black;
  text-decoration: underline;
}

ul {
  margin-top: 5px;
  padding-left: 0;
}
li { list-style-type: none; }

.resp-iframe {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  margin-top: 10px;
  height: 0;
  overflow: hidden;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper {
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header {
  margin-top: 30px;
  text-align: center;
  flex-basis: 100%;
}
.sections {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.section {
  flex-basis: 25%;
  padding: 3%;
}

@media only screen and (max-width: 800px) {
  html {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .wrapper {
    background-color: white;
    margin: 0;
  }
  .sections {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
  }
  .section {
    width: 90%;
  }
}
