html {
  background-image: linear-gradient(#609, black);
  height: max-content;
  color: darkslategrey;
  font: 400 14px "Open Sans", Arial, sans-serif;
}

h1 {
  margin: 0;
  color: #609;
  font-weight: 400;
  font-style: italic;
  letter-spacing: -0.5px;
}
h2 {
  color: silver;
  border-bottom: solid 1px black;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 200;
}
h3 {
  color: black;
  padding-bottom: 3px;
  font-size: 15px;
  font-weight: 600;
}
h5 { margin-bottom: 0; }

.page-content { padding: 30px 30px; }

p.mail {
  margin-top: -12px;
  font-size: 12px;
}

div.header { text-align: center; }

a { text-decoration: none; }
a:visited { color: #1756a9; }
a:hover {
  color: black;
  text-decoration: underline;
}

ul {
  margin-top: 5px;
  padding-left: 0;
}
li { list-style-type: none; }

.section {
  float:left;
  width: 30%;
  margin-left: 3%;
}
.wrapper {
  height: -webkit-calc(700px - (30px));
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
}
@media only screen and (max-width: 800px) {
  .page-content {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
  }
  .wrapper {
    height: -webkit-calc(900px - (30px));
    padding: 0;
    padding-top: 5px;
    margin: 0;
    width: 100%;
  }
  .section {
    width: 90%;
  }
}
